{% extends 'base.html' %}
{% load static %}


    <title>Home page</title>
{% block base_head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock base_head %}

{% block content %}

    <div class="text-center">
        <h1>{{ title }}</h1>
        <h1>Hello, world!</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/no_image_app_content.png' %}"/>
                <p>{{ content }}</p>
            </div>
        </div>
        {% if premium_content %}
        <div class="row">
            <div class="col">
                <h1>Premium</h1>
                <p>{{ premium_content }}</p>
            </div>
        </div>
        {% endif %}

    </div>

{% endblock content %}





<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>Hello, world!</title>
  </head>
  <body>






      </body>
</html>